{% extends "layouts/main.html" %}

{% block content %}

    {% with page = "home"  %}
        {% set banner_background_class= "banner-image-home" %}
        {% set banner_title_class = "banner-title-home" %}
        {% set banner_video = "video/banner-video.mp4" %}
        {% set page_title = "Data Analytics for Canadian Climate Services, STAC API" %}
        {% set page_subtitle = "Climate Data Search" %}
        {% set page_slogan = "Explore this rich repository of information about Earth’s climate—uncovering insights into its past, understanding current trends, and anticipating future changes." %}
        {% include "partials/banner.html" %}
    {% endwith %}

<!--Page content area-->
<div class="row">
    <div class="container-fluid content-search-main">
        <div class="content-search-left">
        <a id="backButton" role="button">Back</a>
            {% with %}
                {% set dropdown_type = "regular_dropdown_share" %}
                {% set dropdown_button_id = "dropdownShareRegular" %}
                {% set dropdown_label_text = "Share" %}
                {% include "partials/dropdown-panel.html" %}
            {% endwith %}

            {% with %}
                {% set dropdown_type = "regular_dropdown_source" %}
                {% set dropdown_button_id = "dropdownSourceRegular" %}
                {% set dropdown_label_text = "Source" %}
                {% include "partials/dropdown-panel.html" %}
            {% endwith %}
        </div>
        <div class="content-search-right">
            <div class="content-search-title">
                <h5>Search <span id="titleSearchType" class="content-search-title-type"></span></h5>
            </div>
            <div class="content-search-description">
                <p class="body-1">
                    Filter by date range to focus on specific timeframes,location to narrow down your search area,
                    and keywords relevant to the type of imagery or dataset. Additional options, like cloud cover and
                    sensor type, let you further customize your results to meet quality and relevance standards.
                </p>
            </div>
            <div id="searchJSON">
                My Search
            </div>
            <div id="searchResultsNavigation" class="search-results-nav">
                <div>
                    {% with %}
                        {% set button_type = "button_lg_nav_previous" %}
                        {% set button_id = "searchResultsPrevious" %}
                        {% include "partials/button.html" %}
                    {% endwith %}

                    {% with %}
                        {% set button_type = "button_sm_nav" %}
                        {% set button_label = "First" %}
                        {% set button_id = "searchResultsFirst" %}
                        {% include "partials/button.html" %}
                    {% endwith %}
                </div>
            <div>
                {% with %}
                    {% set button_type = "button_lg_nav_next" %}
                    {% set button_id = "searchResultsNext" %}
                    {% include "partials/button.html" %}
                {% endwith %}
            </div>

            </div>

            <div>
                Datasets Found
            </div>

            <div class="row">
                <div class="container-fluid">
                    <div id="searchResults"></div>
                    <div id="datasetDetails">
                        <div id="datasetContainer" class="div-container-dataset">
                            <div id="datasetTitleContainer">
                                <div id="datasetTitle"><h4>Dataset</h4></div>
                                <div id="datasetName"></div>
                            </div>


                            <div id="datasetAssetsContainer">
                                {% with %}
                                    {% set dropdown_type = "dropdown_list_panel" %}
                                    {% set dropdown_button_id = "datasetAssetsButton" %}
                                    {% set dropdown_list_panel_link_id = "datasetAssetsLabel" %}
                                    {% set dropdown_list_id  = "datasetAssetsList"%}
                                    {% set dropdown_label_text = "Assets" %}
                                    {% include "partials/dropdown-panel.html" %}
                                {% endwith %}

                            </div>
                            <div id="datasetGeneralContainer">

                            </div>
                            <div id="datasetVariableContainer"></div>
                            <div id="datasetDimensionsContainer"></div>
                            <div id="datasetMetadataContainer">
                            </div>
                            <div id="datasetNodeContainer"></div>

                        </div>

                    </div>
                </div>
            </div>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        hideDetails();
        getSTACSearchResults("");
    })
</script>
        </div>
    </div>


</div>
{% endblock %}