{% extends "layouts/main.html" %}

{% block content %}
    <div id="leafletContainer" class="map-search-container">
        <div id="leftMenu" class="map-left-menu">
            <!-- Keep in case point input field gets put back outside map -->
            <!--
            <label for="inputPointLatLng">Point</label>
            <input id="inputPointLatLng" type="text" />
            -->
            <p>Current Shape Lat Long</p>
            <div id="currentShapeLatLng"></div>
            <p>Current Shape GeoJSON</p>
            <div id="currentShapeGeoJSON"></div>
            <br>
            {% include 'partials/textarea.html' %}
            <button id="uploadGeoJSON">Upload GeoJSON</button>
        </div>
        <div class="leaflet-container">
            <div id="map" class="map-custom"></div>
        </div>
    </div>



<button id="layerButton">Get Layers</button>

<!--
<button id="buttonRemoveLayers">Remove Layers</button>
-->






<script src="js/leaflet-ui-functions.js"></script>
<script src="js/leaflet-stac-ui.js" type="module"></script>


<!--<script src="js/node_modules/@bopen/leaflet-area-selection/index.js"></script>-->

{% endblock %}