{% extends "layouts/main.html" %}

{% block content %}
    {% include "partials/searchbox.html" %}

    {% with %}
        {% set dropdown_type = "default_dropdown_list" %}
        {% set container_id = "dropdownListDefaultContainer" %}
        {% set label_id = "dropdownListDefaultLabel" %}
        {% set chevron_id = "dropdownListDefaultChevron" %}
        {% set dropdown_label_text = "All Catalogs" %}
        {% include "partials/dropdown.html" %}
    {% endwith %}

       <br>
    <br>

    {% with %}
        {% set dropdown_type = "regular_dropdown_source" %}
        {% set container_id = "dropdownRegularSourceContainer" %}
        {% set title_id = "dropdownRegularSourceTitle" %}
        {% set label_id = "dropdownRegularSourceLabel" %}
        {% set chevron_id = "dropdownRegularSourceChevron" %}
        {% set checkbox_id = "touchRegularSource" %}
        {% set dropdown_label_text = "Source" %}
        {% include "partials/dropdown.html" %}
    {% endwith %}


       <br>
    <br>


    {% with %}
        {% set dropdown_type = "regular_dropdown_share" %}
        {% set container_id = "dropdownRegularShareContainer" %}
        {% set label_id = "dropdownRegularShareLabel" %}
        {% set chevron_id = "dropdownRegularShareChevron" %}
        {% set checkbox_id = "touchRegularShare" %}
        {% set dropdown_label_text = "Share" %}
        {% include "partials/dropdown.html" %}
    {% endwith %}


    <br>
    <br>


    {% with %}
        {% set dropdown_type = "regular_dropdown_list_metadata" %}
        {% set container_id = "dropdownListRegularMetadataContainer" %}
        {% set label_id = "dropdownListRegularMetadataLabel" %}
        {% set list_items =
            [
                {
                    "item_label": "NEX-GDDP"
                },
                {
                    "item_label": "CMIP6"
                }
            ]
        %}
        {% set chevron_id = "dropdownListRegularMetadataChevron" %}
        {% set dropdown_label_text = "Metadata" %}
        {% include "partials/dropdown.html" %}
    {% endwith %}

       <br>
    <br>

    {% with %}
        {% set dropdown_type = "regular_dropdown_list_license" %}
        {% set container_id = "dropdownListRegularLicenseContainer" %}
        {% set label_id = "dropdownListRegularLicenseLabel" %}
        {% set chevron_id = "dropdownListRegularLicenseChevron" %}
        {% set dropdown_label_text = "License" %}
        {% include "partials/dropdown.html" %}
    {% endwith %}

    <br>
    <br>

    {% with %}
        {% set dropdown_type = "regular_dropdown_list_frequency" %}
        {% set container_id = "dropdownListRegularFrequencyContainer" %}
        {% set label_id = "dropdownListRegularFrequencyLabel" %}
        {% set chevron_id = "dropdownListRegularFrequencyChevron" %}
        {% set dropdown_label_text = "Frequency" %}
        {% include "partials/dropdown.html" %}
    {% endwith %}

    <br>
    <br>

    {% with %}
        {% set dropdown_type = "medium_dropdown_list" %}
        {% set container_id = "dropdownMediumContainer" %}
        {% set label_id = "dropdownMediumLabel" %}
        {% set chevron_id = "dropdownMediumChevron" %}
        {% set checkbox_id = "touchMediumList" %}
        {% set dropdown_label_text = "Does Not Repeat" %}
        {% set list_items = ["Daily", "Weekly", "Monthly", "Yearly", "Decade", "Custom"] %}
        {% include "partials/dropdown.html" %}
    {% endwith %}

    <br>
    <br>

    {% with %}
        {% set dropdown_type = "small_dropdown_list" %}
        {% set container_id = "dropdownSmallContainer" %}
        {% set label_id = "dropdownSmallLabel" %}
        {% set chevron_id = "dropdownSmallChevron" %}
        {% set checkbox_id = "touchSmallList" %}
        {% set first_item  = "Day"%}
        {% set list_items = ["Week", "Month", "Year", "Decade"] %}
        {% set dropdown_label_text = "Repeat" %}


        {% include "partials/dropdown.html" %}
    {% endwith %}

    <br>
    <br>


    {% with %}
        {% set dataset_type_title = "NEX-GDDP" %}
        {% include "partials/popup.html" %}
    {% endwith %}

    <br>
    <br>

    {% with %}
        {% set input_type = "input_number_sm" %}
        {% set input_id = "inputNumberSmall" %}
        {% include "partials/textbox.html" %}
    {% endwith %}

    <br>
    <br>

    {% with %}
        {% set button_type = "spin_button_sm" %}
        {% set button_id = "spinButtonSmall" %}
        {% set spin_button_up_id = "spinButtonUp" %}
        {% set spin_button_down_id = "spinButtonDown" %}
        {% set target_id = "inputNumberSmall" %}
        {% include "partials/button.html" %}
    {% endwith %}

    <br>
    <br>

    {% with %}
        {% set input_type = "input_date_reg" %}
        {% set input_label = "Date"  %}
        {% set input_id = "inputDateRegular" %}
        {% include "partials/textbox.html" %}
    {% endwith %}

        <br>
    <br>

    {% with %}
        {% set input_type = "input_time_sm" %}
        {% set input_label = "Time"  %}
        {% set input_id = "inputTimeSmall" %}
        {% include "partials/textbox.html" %}
    {% endwith %}

    <br>
    <br>



    {% with %}
        {% set button_type = "button_lg_nav_previous" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with %}
        {% set button_type = "button_med_select_ascending" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with %}
        {% set button_type = "button_med_select_descending" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with %}
        {% set button_type = "button_lg_nav_next" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with %}
        {% set button_type = "button_sm_nav" %}
        {% set button_label = "First" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with %}
        {% set button_type = "button_sm_default_open" %}
        {% set button_label = "Open" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with %}
        {% set button_type = "button_sm_default_copy" %}
        {% set button_label = "Copy" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with %}
        {% set button_type = "button_reg_default" %}
        {% set button_label = "Apply" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with %}
        {% set button_type = "button_reg_default-alt" %}
        {% set button_label = "Clear" %}
        {% include "partials/button.html" %}
    {% endwith %}



    {% with %}
        {% set button_type = "close_button_x" %}
        {% include "partials/button.html" %}
    {% endwith %}

    {% with %}
        {% set button_type = "radio_button_sm" %}
        {% include "partials/button.html" %}
    {% endwith %}





    {% with %}
        {% include "partials/tag.html" %}
    {% endwith %}

    <br>
    <br>

    {% with %}
        {% set display_type = "display_row" %}
        {% set display_link = "tasmin_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100" %}
        {% set start_date = "1/1/2100" %}
        {% set end_date  = "12/30/2100" %}
        {% set start_time = "12:0:0 PM" %}
        {% set end_time = "12:0:0 PM" %}
        {% include "partials/info-display.html" %}
    {% endwith %}

    {% with %}
        {% set display_type = "display_card" %}
        {% set display_link = "tasmin_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100" %}
        {% set start_date = "1/1/2100" %}
        {% set end_date  = "12/30/2100" %}
        {% set start_time = "12:0:0 PM" %}
        {% set end_time = "12:0:0 PM" %}
        {% include "partials/info-display.html" %}
    {% endwith %}

        <script src="js/sample.js"></script>
        <script src="js/ui-styles-scripts.js"></script>
        <script src="js/script.js"></script>
        <script src="js/toggle.js"></script>

{% endblock %}
