<div class="spin-button-small">
    <div id="{{ spin_button_up_id }}" class="spin-button-sm-up">
        <i class="fa-solid fa-play spin-button-sm-up-icon"></i>
    </div>
    <div id="{{ spin_button_down_id }}" class="spin-button-sm-dn">
        <i class="fa-solid fa-play spin-button-sm-dn-icon"></i>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var spinButtonUp = document.getElementById("{{ spin_button_up_id }}");
            spinButtonUp.addEventListener("click", function () {
                increment("{{ target_id }}");
            });

            var spinButtonDown = document.getElementById("{{ spin_button_down_id }}");
            spinButtonDown.addEventListener("click", function () {
                decrement("{{ target_id }}");
            });
        });
    </script>
</div>