{% set datepicker = {
    "placeholder_text": "YYYY MM DD",
    "class": "input-date-reg",
    "label_text_class": "caption"
} %}

<div class="datepicker-container">
    <label for="{{ datepicker_id }}" class="{{ label_text_class|default(datepicker["label_text_class"]) }}">{{ datepicker_label }}</label>
    <input type="text" id="{{ datepicker_id }}" class="{{ datepicker["class"] }}"  placeholder="{{ datepicker["placeholder_text"] }}">
</div>

<script src="js/datepicker.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var currentDateString = getEndDateString();

        initializeCalendar("{{ datepicker_id }}", "01 01 1950", currentDateString);
    })



</script>