{% set dropdown_list = list_items %}

{% set dropdown_library = {
        "default_dropdown_list": {
            "container_class":"dropdown-list-container",
            "title_text_class":"dropdown-list-title",
            "title_chevron_class":"dropdown-default-list-icon",
            "list_item_text_class":"",
            "dropdown_button_class":"dropdown-default-list-button",
            "list_class":"dropdown-default-list",
            "list_items":[
                {
                    "item_type": "link",
                    "item_id": "nexgddpCheckbox",
                    "item_label": "NEX-GDDP"
                },
                {
                    "item_type": "link",
                    "item_id": "cmip6Checkbox",
                    "item_label": "CMIP6s"
                }
            ],
        },
        "regular_dropdown_list_metadata": {
            "container_class": "dropdown-regular-list-container",
            "title_chevron_class": "dropdown-regular-list-chevron-icon",
            "title_text_class": "",
            "dropdown_button_class": "dropdown-metadata-list-button",
            "list_class": "dropdown-regular-list",
            "list_item_text_class": "",
            "list_item_icon_class": "dropdown-regular-list-item-icon"
        },
        "regular_dropdown_list_license": {
            "container_class": "dropdown-regular-list-container",
            "dropdown_button_class":"dropdown-regular-list-button",
            "title_text_class":"",
            "title_chevron_class": "dropdown-regular-list-chevron-icon",
            "list_class":"dropdown-regular-list",
            "list_item_text_class":"dropdown-regular-list-link",
            "list_item_icon_class":""
        },
        "regular_dropdown_list_frequency": {
            "container_class": "dropdown-regular-list-container",
            "dropdown_button_class":"dropdown-regular-list-button",
            "title_text_class":"dropdown-frequency-list-title",
            "title_chevron_class": "dropdown-regular-list-chevron-icon",
            "list_class":"dropdown-regular-list",
            "list_item_text_class":"dropdown-frequency-list-link",
            "list_item_icon_class":""
        },

        "small_dropdown_list": {
            "menu_class": "dropdown-small-menu",
            "dropdown_button_class": "dropdown-small-title",
            "container_class":"dropdown-container dropdown-small-container",
            "label_container_class": "dropdown-small-label-container",
            "title_text_class": "caption",
            "chevron_class": "dropdown-small-chevron",
            "list_class": "dropdown-small-list",
            "list_item_class": "dropdown-small-item"
        },
        "medium_dropdown_list": {
            "menu_class": "dropdown-medium-menu",
            "dropdown_button_class": "dropdown-medium-title",
            "container_class":"dropdown-container dropdown-medium-container",
            "label_container_class": "dropdown-medium-label-container",
            "title_text_class": "caption",
            "chevron_class": "dropdown-medium-chevron",
            "list_class": "dropdown-medium-list",
            "list_item_class": "dropdown-medium-item"
        }
    }
%}




{% if dropdown_type == "default_dropdown_list" or dropdown_type == "regular_dropdown_list_metadata" or dropdown_type == "regular_dropdown_list_license" or dropdown_type == "regular_dropdown_list_frequency" %}

    <div id="{{ container_id }}" class="{{ dropdown_library[dropdown_type]["container_class"] }}">

        <div id="{{ dropdown_id }}" class="dropdown">
        {% if dropdown_type == "default_dropdown_list" %}
            <a id="{{ dropdown_button_id }}" class="btn btn-secondary dropdown-toggle padding-unset {{ dropdown_library[dropdown_type]["dropdown_button_class"] }} {{ dropdown_library[dropdown_type]["title_chevron_class"] }} " role="button" data-bs-toggle="dropdown" data-bs-display="static" data-bs-auto-close="outside" aria-expanded="false">

        {% else %}
            <a id="{{ dropdown_button_id }}" class="btn btn-secondary dropdown-toggle padding-unset {{ dropdown_library[dropdown_type]["dropdown_button_class"] }} {{ dropdown_library[dropdown_type]["title_chevron_class"] }} " role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">


        {% endif %}
         <h6 id="{{ dropdown_button_text_id }}" class="{{ dropdown_library[dropdown_type]["title_text_class"] }} margin-unset padding-unset">
                        {{ dropdown_label_text|safe }}
                </h6>
        </a>


            <ul id="{{ dropdown_default_UL_id }}" class="dropdown-menu margin-unset padding-unset {{ dropdown_library[dropdown_type]["list_class"] }}" aria-labelledby="{{ dropdown_button_id }}">
                {% if dropdown_type == "default_dropdown_list" %}

                    <li class="dropdown-default-list-item">
                        {% with %}
                                {% set checkbox_label_text = "All Catalogs" %}
                                {% set checkbox_id = "allCheckbox" %}
                                {% set checkbox_text_class = "dropdown-default-list-item-text" %}
                                {% set direction_right = true %}
                                {% include "partials/checkbox.html" %}
                            {% endwith %}
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                             var allCheckbox = document.getElementById("allCheckbox");
                            allCheckbox.addEventListener('change', function(){
                                selectAllCheckbox('{{ dropdown_default_UL_id }}', '{{ dropdown_button_text_id }}', '{{ dropdown_label_text }}');
                                setSearchPageTitle('{{ dropdown_default_UL_id }}', "titleSearchType");
                                })
                            })
                        </script>
                    </li>
                    {% with %}
                        {% set default_dropdown_checkbox = true %}
                        {% set direction = "right" %}
                        {% include "partials/checkbox.html" %}
                    {% endwith %}
                {% endif %}

            {% if dropdown_type == "regular_dropdown_list_metadata" %}
                {% for item in dropdown_list %}
                    <li id="{{ [item["item_label"]|replace("-", "")|replace("_", "")|replace(" ", "")|lower, "ModalLink"]|join }}" class="dropdown-regular-list-item {{ dropdown_library[dropdown_type]["list_item_text_class"] }}">
                        <p class="dropdown-regular-list-link subtitle-1 dropdown-regular-list-item-content margin-unset {{ dropdown_library[dropdown_type]["list_item_icon_class"] }}" href="#">
                            {{ item["item_label"]|safe }}
                        </p>
                    </li>
                {% endfor %}
            {% endif %}

            {%  if dropdown_type == "regular_dropdown_list_license" or dropdown_type == "regular_dropdown_list_frequency" %}

                {% for item in dropdown_list %}
                    {% set list_item_id = dropdown_id ~ loop.index %}
                    <li class="dropdown-regular-list-item">
                        <a id="{{ list_item_id }}" class="{{ dropdown_library[dropdown_type]["list_item_text_class"] }} subtitle-1" role="button" href="#">
                            {{ item["item_label"]|safe }}
                        </a>
                    </li>

                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var listItem = document.getElementById("{{ list_item_id }}");

                            listItem.addEventListener('click', function() {
                                replaceListItem("{{ dropdown_label_text }}", "{{ dropdown_button_text_id }}", "{{ list_item_id }}");
                            })
                        });
                    </script>
                {% endfor %}
            {% endif %}

            </ul>
        </div>
    {% if dropdown_type == "default_dropdown_list" %}
        <script src="js/dropdown-default-scripts.js"></script>
    {% endif %}
    </div>

{% endif %}



{% if dropdown_type == "small_dropdown_list" or dropdown_type == "medium_dropdown_list" %}
    <div id="{{ container_id }}" class="{{ dropdown_library[dropdown_type]["container_class"] }}">
        <div id="{{ dropdown_id }}" class="dropdown caption {{ dropdown_library[dropdown_type]["menu_class"] }}">

            <a id="{{ label_id }}" class="btn btn-secondary dropdown-toggle padding-unset caption {{ dropdown_library[dropdown_type]["dropdown_button_class"] }} " href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                {{ dropdown_label_text }}
            </a>

            <ul id="{{ dropdown_list_id }}" class="dropdown-menu margin-unset {{ dropdown_library[dropdown_type]["list_class"] }}">
                {% for item in list_items %}
                    {% set list_item_id = dropdown_id ~ loop.index %}
                    <li>
                        <a id="{{ list_item_id }}" class="dropdown-item {{ dropdown_library[dropdown_type]["list_item_class"] }} caption" role="button">{{ item }}</a>
                        {% if dropdown_type == "small_dropdown_list" %}
                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    var listItem = document.getElementById("{{ list_item_id }}");

                                    listItem.addEventListener('click', function() {
                                        swapListItems("{{ label_id }}", "{{ list_item_id }}");
                                    })
                                });
                            </script>
                        {% endif %}

                        {% if dropdown_type == "medium_dropdown_list" %}
                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    var dropdownFirstListItem = document.getElementById("{{ label_id }}");
                                    var listItem = document.getElementById("{{ list_item_id }}");


                                    listItem.addEventListener('click', function() {
                                        swapListItems("{{ label_id }}", "{{ list_item_id }}");
                                    })
                                });
                            </script>
                        {% endif %}
                    </li>


                {% endfor %}
            </ul>
        </div>

    </div>


{% endif %}
<script src="js/dropdown-list.js"></script>
<script src="js/ui-function-scripts.js"></script>





