<div class="dropdown-container">
<ul class="navbar">
    <li class="nav-item dropdown">

        <a id="dropdownLink" class="nav-link dropdown-toggle dropdown-button-link" href="#" data-bs-toggle="dropdown" data-bs-target="dropdown" aria-expanded="false">
            All <i class="fa-solid fa-chevron-down dropdown-chevron"></i>
        </a>
        <ul class="dropdown-menu dropdown-body" data-bs-theme="light" aria-labelledby="dropdownLink">
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item rounded-2" href="#">Action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item rounded-2" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item rounded-2" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item rounded-2" href="#">Separated link</a></li>
          </ul>
    </li>

</ul>
</div>
<!--gap-1 p-2 rounded-3 mx-0 shadow w-220px -->