{% set display_library = {
    "display_row":{
        "display_class": "result-display-row",
        "link_classes": "result-link subtitle-1"
    },
    "display_card":{
        "display_class": "result-display-card",
        "link_classes": "result-link-title tag-info-card-title-font"
    }


    }
%}



<div class="{{ display_library[display_type]["display_class"] }}">
    <div class="result-link-container">
        <a class="{{ display_library[display_type]["link_classes"] }}">{{ display_link }}</a>

        {% if display_type == "display_row" %}
            <a tabindex="0" class="button-more-information" role="button" data-toggle="popover" data-bs-trigger="focus"
                        data-bs-placement="right" data-bs-content="{{ tooltip_text }}">
                    <i class="fa-solid fa-circle-info icon-more-information margin-icon-more-information" ></i>
            </a>
        {% endif %}
    </div>
    {% if display_type == "display_card" %}
        <div class="display-card-time-range">
    {% endif %}
        <div class="result-start-time result-text subtitle-1">{{ start_date }}</div>
        <div class="result-end-date result-text subtitle-1">{{ end_date }}</div>
        <div class="result-start-time result-text subtitle-1">{{ start_time }}</div>
        <div class="result-end-time result-text subtitle-1">{{ end_time }}</div>
    {% if display_type == "display_card" %}
        </div>
    {% endif %}

    {% if display_type == "display_card" %}
        <div class="result-format result-text subtitle-1">
        {% with %}
            {% set tag_input_custom ={
            "container_class": "tag-info-card-container",
            "class": "tag-info-card",
            "tag_array": ["XML", "HTML", "NetCDF"]
            }%}
            {% include "partials/tag.html" %}
        {% endwith %}

    </div>
    {% else %}
        <div class="result-format-row result-text subtitle-1">
        <div>XML</div>
        <div>HTML</div>
        <div>NetCDF</div>
    </div>
    {% endif %}

</div>