<div class="search-container">

    <form role="search" class="search-form">
        <div>

            <input id="searchInput" type="search" autocomplete="off" aria-controls="suggestedWordOutputListContainer" aria-expanded="false" role="combobox" class="search-input" />
            <div id="suggestedWordOutputListContainer" class="search-output-container">
                <ul id="suggestedWordOutputList" class="search-output"></ul>
            </div>

        </div>

        <div class="search-icon-background">
            <i id="searchIcon" class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
    </form>
    <script src="js/search-ui-functions.js"></script>
    <script src="js/ui-styles-scripts.js"></script>
    <script src="js/catalog-search.js"></script>



</div>