<div class="search-container">
        <div id="searchInputContainer" class="search-input-container" aria-expanded="false">
            <input id="searchInput" type="search" autocomplete="off" aria-controls="suggestedWordOutputListContainer" data-bs-toggle="dropdown" data-bs-auto-close="outside" class="search-input dropdown-toggle" />
            <div id="suggestedWordOutputListContainer" class="dropdown-menu search-output-container">
                <ul id="suggestedWordOutputList" class="search-output"></ul>
            </div>
        </div>

        <div class="search-icon-background">
            <a id="searchIconAnchor">
                <i id="searchIcon" class="fa-solid fa-plus search-icon"></i>
            </a>
        </div>
    <script src="js/search-ui-functions.js"></script>
    <script src="js/ui-styles-scripts.js"></script>
    <script src="js/catalog-search.js"></script>
</div>