:root{
    --leaflet-shadow: rgba(0, 0, 0, 0.2);
    --fusesearch-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

.map{
    position: relative;
    width: 100%;
    height: inherit;
}

.leaflet-control-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    cursor: pointer;
}

.leaflet-control-button:focus{
    background-color: var(--gray-700);
}

.button-square-icon{
    color: var(--black);
}

.button-location-icon{
    color: var(--black);
}

/*Map page general styles*/
.map-search-container{
    display: flex;
    flex-direction: row;
    position: relative;
}

.map-left-menu{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.container-current-latlng{
    height: 50%;
}

.container-current-geojson{
    height: 50%;
}

.leaflet-container{
    position: relative;
    width: 80%;
    height: 400px;
}

/*Left menu styles*/
.container-left-menu{
    display: flex;
    flex-direction: column;
}

.container-draw-menu{
    width: 34px;
    height: 100%;
}

.container-geojson-convert{
    width: 100px;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: var(--leaflet-shadow);
    margin-top: 10px;
}

.button-convert-geojson{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 4px;
}

.div-geojson-icons{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-geojson-hexagon{
    font-size: 26px;
    color: var(--black);
}

.button-geojson-arrow{
    font-size: 18px;
    color: var(--black);
    margin-left: 5px;
    margin-right: 5px;
}

.button-geojson-icon{
    width: 29px;
    height: 31px;
}

/*Search panel styles*/
.button-search-result{
    width: 100%;
    background-color: var(--white);
    border: none;
    text-align: start;
}

.button-search-result:hover{
    background-color: var(--gray-400);
}

/*GeoJSON Input Styles*/
.geojson-error{
    color: var(--error);
}

/*Coordinate input styles*/
.bottom-left-panel{
    min-width: 135px;
    max-width: 500px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.bottom-left-input-panel{
    width: 135px;
    height: 60px;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: var(--leaflet-shadow);
}

.bottom-left-error-panel{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: var(--leaflet-shadow);
    margin-left: 10px;
    z-index: -1;
    opacity: 0;
}

.bottom-left-error-panel.visible{
    z-index: 2000;
    opacity: 1;
}

.coordinate-input-container{
    width: 135px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: inherit;
}

.coordinate-input-label{
    width: 127px;
    height: 15px;
    color: var(--text-on-surface);
    margin-bottom: 2px;
}

.coordinate-input-field{
    width: 127px;
    height: 35px;
    border-radius: 9px;
    border: 1px solid var(--gray-300);
    background-color: var(--white);
    text-align: center;
}

.coordinate-input-field::placeholder{
    color: var(--gray-500);
}

.coordinate-error-container{
    background-color: var(--white);
    border-radius: inherit;
}

.coordinate-error-message{
    color: var(--error);
    margin: unset;
}

.bottom-right-panel{
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 10px;
    z-index: -1;
    opacity: 0;

    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: var(--leaflet-shadow);
}

.bottom-right-panel.visible{
    opacity: 1;
    z-index: 2000;
}

.bottom-right-panel.left {
    left: 0;
}

.bottom-right-panel.right {
    right: 0;
}

.geojson-panel-container{
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

.geojson-button-container{
    display: flex;
    justify-content: flex-end;
}

.geojson-content-container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.geojson-close-button{
    background-color: var(--white);
    border: none;
    font-size: 16px;
}

.geojson-upload-button{
    margin-top: 5px;
}

.geojson-panel-button{
    background-color: var(--white);
    border: none;
    box-shadow: var(--fusesearch-shadow);
}

.leaflet-fusesearch-panel {
    width: 200px;
}
