@import url("stac-ui.css");

#map{
    position: relative;
    width: 100%;
    height: inherit;

}

.leaflet-control-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    cursor: pointer;
}

.leaflet-control-button:focus{
    background-color: var(--gray-700);
}

.button-square-icon{
    color: var(--black);
}

.button-location-icon{
    color: var(--black);
}

/*Map page general styles*/
.map-search-container{
    display: flex;
    flex-direction: row;
    position: relative;
}

.map-left-menu{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.leaflet-container{
    position: relative;
    width: 80%;
    height: 400px;
}

/*Search panel styles*/
.button-search-result{
    width: 100%;
    background-color: var(--white);
    border: none;
    text-align: start;
}

.button-search-result:hover{
    background-color: var(--gray-400);
}


/*GeoJSON Input Styles*/
.geojson-error{
    color: var(--error);
}