/*Legacy styles from design*/
:root {
    /*Override Bootstrap*/
    --bs-dropdown-spacer: 0px;
    --bs-accordion-btn-icon-transition: 0;

    /*Fonts*/
    --main-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --secondary-font-family: Helvetica, Arial, sans-serif;
    --light-font-weight: 300;
    --h3-reg-font-weight: 300;
    --reg-font-weight: 400;
    --h4-bold-font-weight: 500;
    --med-font-weight: 500;
    --h6-bold-font-weight: 700;
    --line-height-normal: normal;
    --line-height-body1: 25px;

    /*Custom fonts*/
    --bs-icon-font-family: "Bootstrap-icons", Helvetica, Arial, sans-serif;

    /*Borders*/
    --elevation-1: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    --elevation-2: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    --elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
    --elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.30);

    --d-elevation-1: 0px 3px 4px 0px rgba(136, 144, 194, 0.25), 0px 5px 15px 0px rgba(37, 44, 97, 0.25);
    --d-elevation-2: 0px 3px 8px 0px rgba(136, 144, 194, 0.25), 0px 7px 21px 0px rgba(37, 44, 97, 0.20);
    --d-elevation-3: 0px 3px 8px 0px rgba(178, 0, 2, 0.12), 0px 7px 21px 0px rgba(178, 0, 2, 0.12);

    --account-overview-elevation: 0px 9px 12px 0px rgba(0, 0, 0, 0.20);
    --login-elevation-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --password-elevation: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    --border-black: 1px solid #000000;
    --textbox-border-radius: 5px;

    --corner: 1em;

    /*Shadows*/
    --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --dropdown-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --button-close-shadow: 0px 5px 15px rgba(37, 44, 97, 0.25), 0px 3px 4px rgba(136, 144, 194, 0.25);
    --popup-metadata-shadow: 4px 4px 17px 0px rgba(0, 0, 0, 0.25);

    /*Backgrounds*/
    --background: #FFFFFF;
    --background-black: #000000;
    --background-transparent: transparent;
    --background-blur: blur(15px);
    --background-blur-mobile: blur(15px);
    --backdrop-filter-provider: blur(7.5px);
    --backdrop-filter-attention: blur(2px);
    --backdrop-filter-feedback: blur(2px);
    --backdrop-filter-password: blur(12.5px);
    --backdrop-filter-network: blur(7.5px);

    /*Colours*/

    /*General Use*/
    --alert-background: #F6DC3D;
    --black: #000000;
    --white: #FFFFFF;

    /*Opacity Swatches*/
    --black-opacity-lighter: rgba(0, 0, 0, 0.18);
    --black-opacity-light: rgba(0,0,0,0.25);
    --black-opacity-mid-light: rgba(0,0,0,0.30);
    --black-opacity-mid: rgba(0, 0, 0, 0.50);
    --black-opacity-mid-dark: rgba(0, 0, 0, 0.75);
    --black-opacity-darker: rgba(0, 0, 0, 0.8);
    --opaque-light-grey: rgba(255,255,255, 0.3);
    --white-opacity-light: rgba(255, 255, 255, 0.18);
    --white-opacity-darker: rgba(255, 255, 255, 0.85);
    --red-opacity-mid: rgba(178, 0, 2, 0.50);
    --primary-opacity-light: rgba(48, 79, 254, 0.12);
    --primary-opacity-midlight: rgba(48, 79,245, 0.35);
    --indigo250-opacity-light: rgba(136, 144, 194, 0.25);
    /*Gradient Swatches*/
    --linear-gradient-black: linear-gradient(90deg,transparent, #000000, transparent);
    --linear-gradient-marble: linear-gradient(90deg, #3F6BAE 3%, #6DA39F 33.33%, #D89E37 66.67%, #823628 100%);


    /*Colours for Elements*/
    --surface: #FFFFFF;
    --error: #B20002;
    --text-on-primary: #FFFFFF;
    --text-on-primary-alt: #536DFE;
    --text-on-secondary: #000000;
    --text-on-background: #000000;
    --text-on-surface: #000000;
    --text-on-error: #FFFFFF;
    --text-on-dark: #FFFFFF;
    --primary: #304FFE;
    --primary-alt: #C5CAE9;
    --primary-variant: #283593;
    --secondary: #03DAC6;
    --secondary-variant: #018786;

    /*Colour Swatches*/
    --indigo-50: #E8EAF6;
    --indigo-100: #C5CAE9;
    --indigo-200: #9FA8DA;
    --indigo-250: #8890C2;
    --indigo-300: #7886CB;
    --indigo-400: #5C6BC0;
    --indigo-500: #4050B5;
    --indigo-600: #3949AB;
    --indigo-700: #303F9F;
    --indigo-800: #283593;
    --indigo-900: #1A237E;
    --indigo-A100: #8C9EFF;
    --indigo-A200: #536DFE;
    --indigo-A400: #3D5AFE;
    --indigo-A700: #304FFE;

    --teal-50: #E0F2F1;
    --teal-100: #B2DFDB;
    --teal-200: #80CBC4;
    --teal-300: #4DB6AC;
    --teal-400: #26A69A;
    --teal-500: #009688;
    --teal-600: #00897B;
    --teal-700: #00796B;
    --teal-800: #00695C;
    --teal-900: #004D3F;
    --teal-A100: #A7FFEB;
    --teal-A200: #64FFDA;
    --teal-A400: #1DE9B6;
    --teal-A700: #00BFA5;

    --deep-orange-50: #FBE9E6;
    --deep-orange-100: #FFCCBC;
    --deep-orange-200: #FFAB91;
    --deep-orange-300: #FF8A65;
    --deep-orange-400: #FF7043;
    --deep-orange-500:  #FF5722;
    --deep-orange-600: #F4511E;
    --deep-orange-700: #E64A19;
    --deep-orange-800: #D94214;
    --deep-orange-900: #BF360D;
    --deep-orange-A100: #FF9E80;
    --deep-orange-A200: #FF6E40;
    --deep-orange-A400: #FF3D00;
    --deep-orange-A700: #DD2C00;

    --gray-50: #FAFAFA;
    --gray-100: #F5F5F5;
    --gray-200: #EEEEEE;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-600: #757575;
    --gray-700: #757575;
    --gray-800: #424242;
    --gray-900: #212121;

}


p{
    font-family: var(--main-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 16px;
    letter-spacing: 0.024px;
    line-height: var(--line-height-body1);
}

.body-1{
    font-family: var(--main-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 16px;
    letter-spacing: 0.024px;
    line-height: var(--line-height-body1);
}

.body-2{
    font-family: var(--main-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 14px;
    letter-spacing: 0.014px;
    line-height: var(--line-height-normal);
}

h1{
    font-family: var(--secondary-font-family);
    font-weight: var(--light-font-weight);
    font-size: 96px;
    letter-spacing: -1.44px;
    line-height: var(--line-height-normal);
}

h2{
    font-family: var(--main-font-family);
    font-weight: var(--light-font-weight);
    font-size: 60px;
    letter-spacing: -0.3px;
    line-height: var(--line-height-normal);
}

h3{
    font-family: var(--main-font-family);
    font-weight: var(--h3-reg-font-weight);
    font-size: 48px;
    line-height: var(--line-height-normal);
}

h4{
    font-family: var(--main-font-family);
    font-weight: var(--h4-bold-font-weight);
    font-size: 34px;
    letter-spacing: 0.085px;
    line-height: var(--line-height-normal);
}

h5{
    font-family: var(--main-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 24px;
    line-height: var(--line-height-normal);
}

h6{
    font-family: var(--secondary-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 20px;
    letter-spacing: 0.03px;
    line-height: var(--line-height-normal);
}

.subtitle-1, .leading-text-1{
    font-family: var(--main-font-family);
    font-weight: var(--med-font-weight);
    font-size: 16px;
    letter-spacing: 0.03px;
    line-height: var(--line-height-normal);
}

.subtitle-2, .leading-text-2{
    font-family: var(--main-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 14px;
    letter-spacing: 0.014px;
    line-height: var(--line-height-normal);
}

.d-button-text{
    font-family: var(--main-font-family);
    font-weight: var(--med-font-weight);
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
}

.d-button-alt-text{
    font-family: var(--main-font-family);
    font-weight: var(--h6-bold-font-weight);
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.button{
    font-family: var(--main-font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: var(--med-font-weight);
    line-height: var(--line-height-normal);
    letter-spacing: 0.15px;
    text-transform: uppercase;
}

.caption{
    font-family: var(--main-font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: var(--reg-font-weight);
    line-height: var(--line-height-normal);
    letter-spacing: 0.048px;
    text-transform: capitalize;
}

.overline{
    font-family: var(--main-font-family);
    font-size: 10px;
    font-style: normal;
    font-weight: var(--reg-font-weight);
    line-height: var(--line-height-normal);
    letter-spacing: 0.15px;
}

/*Global Styles*/
/*Spacing*/
.margin-unset{
    margin: unset;
}

.padding-unset{
    padding: unset;
}
/*Display*/
.display-none{
    display: none;
}

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}
/*End legacy styles from design*/

/*Buttons*/
/*Used in button template partial*/
.button-close-x{
    width: 28px;
    height: 28px;
    color: var(--primary);
    background-color: var(--background-transparent);
    border: none;
    outline: none;
}

.button-close-x:focus, .button-close-x:active{
    color: var(--text-on-dark);
    background-color: var(--primary);
    border: none;
    outline: none;
    box-shadow: var(--button-close-shadow);
}

.image-close-icon{
    width: 15px;
    height: 15px;
    mask-image:  url("../images/button/close_x.svg");
    -webkit-mask-image:  url("../images/button/close_x.svg");
    mask-size: 15px 15px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--white);
}

/*Used in button template partial*/
.image-close-icon-dark{
    width: 15px;
    height: 15px;
    mask-image:  url("../images/button/close_x.svg");
    -webkit-mask-image:  url("../images/button/close_x.svg");
    mask-size: 15px 15px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--black);
}

.popup-button-close{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;

}

/*Used in button template partial*/
.button-icon-position{
    overflow: visible;
    box-sizing: content-box;
    display: inline-block;
    height: 1em;
    vertical-align: -.125em;
}

/*Used in button template partial*/
.image-delete-icon-red{
    width: 16px;
    height: 15px;
    background-image: url("../images/button/exclamation_triangle_red.svg");
    background-repeat: no-repeat;
    margin-right: 12px;
}

/*Legacy style from design*/
.image-delete-icon-white{
    width: 16px;
    height: 15px;
    background-image: url("../images/button/exclamation_triangle_white.svg");
    background-repeat: no-repeat;
    margin-right: 12px;
}


.button-anchor-tag{
    align-self: flex-start;
}

.undecorated-link{
    text-decoration: none
}

/*Used in button template partial*/
.button-reg{
    width: 158px;
    height: 60px;
    color: var(--primary);
    background-color: var(--white);
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary);
    box-shadow: var(--d-elevation-1);
    flex-shrink: 0;
}

/*Used in button template partial*/
.button-reg-reverse{
    width: 158px;
    height: 60px;
    color: var(--white);
    background-color: var(--primary);
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary);
    box-shadow: var(--d-elevation-2);
    flex-shrink: 0;
}

/*Legacy style from design*/
.button-reg-alt:hover{
    color: var(--white);
    background-color: var(--primary);
    box-shadow: var(--d-elevation-1);
}


/*Buttons for Search Mechanism*/
.button-sm-default{
    width: 77px;
    height: 33px;
    border: none;
}

.button-sm-default-open{
    color: var(--primary);
    background-color: var(--white);
    border-width: 1px;
    border: solid;
    border-color:var(--primary);
}

.button-sm-default-open:focus, .button-sm-default-open:hover{
    color: var(--text-on-dark);
    background-color: var(--primary);
}

.button-sm-default-copy{
    background-color: var(--gray-100);
    box-shadow: var(--d-elevation-1);
}

.button-sm-default-copy:hover{
    background-color: var(--gray-400);
}

.button-sm-nav{
    width: 110px;
    height: 65px;
    background-color: var(--gray-100);
    border: none;
}

.button-sm-nav span{
    color: var(--text-on-surface);
}

.button-sm-nav:focus span, .button-sm-nav:hover span, .button-sm-nav:active span{
    color: var(--text-on-dark);
}

.button-sm-nav:focus, .button-sm-nav:hover, .button-sm-nav:active{
    background-color: var(--primary);
    box-shadow: var(--d-elevation-2);
}

/*Used in button template partial*/
.button-lg-nav{
    width: 142px;
    height: 65px;
    background-color: var(--gray-100);
    border: none;
}

/*Used in button template partial*/
.button-lg-nav span{
    color: var(--text-on-surface);
}

/*Used in button template partial*/
.button-lg-nav .icon-nav-previous{
    color: var(--primary);
}

/*Used in button template partial*/
.button-lg-nav:focus, .button-lg-nav:hover, .button-lg-nav:active{
    background-color: var(--primary);
    box-shadow: var(--d-elevation-2);
}

.button-lg-nav:focus span, .button-lg-nav:hover span, .button-lg-nav:active span{
    color: var(--text-on-dark);
}

.button-lg-nav:focus .icon-nav-previous, .button-lg-nav:hover .icon-nav-previous, .button-lg-nav:active .icon-nav-previous{
    color: var(--white);
}

/*Used in button template partial*/
.button-med-select{
    width: 116px;
    height: 65px;
    color: var(--primary);
    background-color: var(--gray-100);
    border: none;
}

/*Used in button template partial*/
.button-med-select span{
    color: var(--text-on-surface);
}

/*Used in button template partial*/
.button-med-select .icon-select-ascending{
    color: var(--primary);
}

/*Used in button template partial*/
.button-med-select:focus, .button-med-select:hover, .button-med-select:active{
    background-color: var(--primary);
    box-shadow: var(--d-elevation-2);
}

/*Used in button template partial*/
.button-med-select:focus span, .button-med-select:hover span, .button-med-select:active span{
    color: var(--text-on-dark);
}

/*Used in button template partial*/
.button-med-select:focus .icon-select-ascending, .button-med-select:hover .icon-select-ascending, .button-med-select:active .icon-select-ascending{
    color: var(--white);
}


/*Used in button template partial*/
.button-reg:hover, .button-med:hover{
    color: var(--white);
    background-color: var(--primary);
    box-shadow: var(--d-elevation-2);
}

/*Used in button template partial*/
.button-reg:focus, .button-med:focus{
    color: var(--white);
    background-color: var(--primary);
    box-shadow: var(--d-elevation-2);
}

/*Used in button template partial*/
.button-med-delete{
    width: 150px;
    height: 60px;
    color: var(--text-on-surface);
    background-color: var(--white);
    border: none;
    box-shadow: var(--d-elevation-3);
}

/*Used in button template partial*/
.button-med-delete:hover{
    color: var(--text-on-dark);
    background-color: var(--error);
    box-shadow: var(--d-elevation-3);
}

/*Used in button template partial*/
.button-med-delete:hover .image-delete-icon-red{
    background-image: url("../images/button/exclamation_triangle_white.svg");
}

/*Used in button template partial*/
.button-med-delete-no-icon{
    width: 150px;
    height: 60px;
    color: var(--text-on-dark);
    background-color: var(--error);
    border: none;
    box-shadow: var(--d-elevation-3);
}

/*Used in button template partial*/
.button-med-round{
    width: 79px;
    height: 79px;
    background-color: var(--indigo-50);
    border: none;
    border-radius: 50%;
    box-shadow: var(--elevation-1);
}

/*Used in button template partial*/
.button-med-round-icon{
    width: 46px;
    height: 49px;
    color: var(--primary);
}

.button-med-action-alt-image{
    margin-right: 12px;
}

/*Used in button template partial*/
.button-med-alt:hover{
    color: var(--text-on-dark);
    background-color: var(--primary);
}

.disabled{
    color: var(--gray-600);
    background-color: var(--gray-500);
    pointer-events: none;
}

/*Used in button template partial*/
.button-spinner-alignment{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Used in button template partial*/
.spinner-not-visible{
    display:none;
}

/*Used in ui-styles-scripts.js*/
.spinner-visible{
    display:flex;
}

/*Used in button template partial*/
.checkmark-not-visible{
    display: none;
}
/*End Button*/




/*Checkbox*/

.checkbox-buffer{
    width: 25px;
    height: 25px;
}

/* The container */
.checkbox-container {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: var(--white);
    border-style: solid;
    border-width: 3px;
    border-color: var(--primary);
    box-shadow: var(--d-elevation-1);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: inherit;
    box-shadow: var(--d-elevation-2);
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: var(--primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 3px;
    bottom: 3px;
    width: 8px;
    height: 13px;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*Search box*/

.search-container{
    display: flex;
}

.search-input{
    width: 622px;
    height: 64px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid var(--indigo-200);
    background: var(--indigo-50);
    box-shadow: var(--text-shadow);
    font-family: var(--main-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 24px;
    line-height: var(--line-height-normal);
    color: var(--gray-500);
}

.search-input:hover{
    background: var(--indigo-100);
    border: 1px solid var(--indigo-300);
}

.search-input:focus{
    background: var(--gray-50);
    border: 1px solid var(--indigo-200);
}

.search-icon{
    position: relative;
    width: 15px;
    height: 15px;
    color: var(--gray-500);
    right: 30px;
    z-index: 25;
}


/*Select Box*/

.select-default-option{
    background-color: var(--primary);
    color: var(--text-on-dark);
    font-family: var(--main-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 24px;
    line-height: var(--line-height-normal);
    border: none;
}

.select-option{
    color: var(--text-on-surface);
    background-color: var(--white);
    padding-bottom: 0px;
    border: none;
}


/*Dropdown*/
/*
.dropdown-regular-container{
    width: 172px;
    border-radius: 30px;
    border: 1px solid var(--indigo-200);
    background-color: var(--primary);
    box-shadow: var(--dropdown-shadow);
    padding: 16px 24px;
    margin-bottom: 0px;
    /*Optional positioning
    /*position:absolute;
    z-index: 1000;
}

.dropdown-regular-container:focus{
    background-color: var(--white);
}

.dropdown-regular-container ul{
    padding-left:unset;
    margin-bottom: unset;
}
*/




.dropdown-list-container{
    width: 172px;
    border-radius: 30px;
    border: 1px solid var(--indigo-200);
    background-color: var(--primary);
    box-shadow: var(--dropdown-shadow);
    padding: 4px 24px;
    margin-bottom: 0px;
}

.dropdown-list-container:focus{
    background-color: var(--white);
}


.dropdown-list-container ul{
    padding-left:unset;
    margin-bottom: unset;
}

.dropdown-list{
    background-color: var(--white);
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    list-style-type:none;
    transition: height .4s ease;
}

.dropdown-list li:not(:last-child){
    margin-bottom: 12px;
}

.dropdown-item{
    padding-top: unset;
    padding-bottom: unset;
}

.dropdown-item:hover{
    background-color: var(--indigo250-opacity-light);
}

.dropdown-default-list-label{
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    cursor: pointer;
}

.dropdown-default-list-label h6{
    margin-bottom: unset;
}

.dropdown-default-list-label::after{
    float: right;
    right: 10%;
}

.dropdown-default-list-label-toggle{
    color: var(--text-on-surface);
}

.dropdown-default-list-label-toggle i{
    color: var(--text-on-surface);
}

.dropdown-chevron{
    font-size: 14px;
    font-weight: bold;
    color: var(--text-on-dark);
    transform: rotate(0deg);
    transition: all 0.4s ease-in-out;
}

.dropdown-chevron-rotate{
    transform: rotate(180deg);
    transition: all 0.4s ease-in-out;
}

.dropdown-chevron-dark{
    color: var(--primary);
}

.dropdown-body{
    width: 172px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: var(--text-shadow);
    padding-left: 24px;
    padding-top: 0px;
    padding-right: 24px;
    padding-bottom: 16px;
}


/*Default dropdown list*/
.dropdown-default-list{
    background-color: var(--white);
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    list-style-type:none;
    transition: height .4s ease;
}

.dropdown-default-list li{
    text-align: center;
}

.dropdown-default-list li a{
    color: var(--text-on-surface);
    text-decoration: none;
}

.dropdown-custom-divider{
    height: 1px;
    color: var(--gray-500);
    margin-top: 7px;
    margin-bottom: 7px;
}

/*Checkbox style for default dropdown*/
#touchDefaultList{
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touchDefaultList:checked + .dropdown-default-list{
    height: auto;
}


/*Dropdown regular list*/
.dropdown-regular-list-container{
    width: 290px;
    background: var(--indigo250-opacity-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-regular-list-label{
    height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: var(--indigo-700);
    padding-left: 32px;
    padding-right: 32px;
    cursor: pointer;
}

.dropdown-regular-list-link{
    text-decoration: none;
    color: var(--indigo-700);
}

#touchRegularList{
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touchRegularList:checked + .dropdown-regular-list{
    height: auto;
}

.dropdown-regular-list{
    background-color: var(--white);
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: start;
    list-style-type:none;
    transition: height .4s ease;
    padding-left: 0px;
}

.dropdown-regular-list-item{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    cursor: pointer;
}

.dropdown-regular-list-item:hover{
    background-color: var(--indigo250-opacity-light);
}
/*End Dropdown Regular List*/

/*Dropdown Regular*/

.dropdown-regular-container{
    width: 290px;
    background: var(--indigo250-opacity-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-regular-container h6{
    padding-right: 4px;
}

.dropdown-regular-container-transition{
    background-color: var(--white);
}

.dropdown-regular{
    background-color: var(--white);
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    list-style-type:none;
    transition: height .4s ease;
}

.dropdown-regular-title{
    color: var(--indigo-700);
}

.dropdown-regular-icon{
    color: var(--indigo-700);
}

.dropdown-regular li{
    text-align: center;
}

.dropdown-regular-label-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-regular-label{
    display: flex;
    justify-content: space-between;
}

.dropdown-chevron-container{
    width: 29px;
    height: 29px;
    background-color: var(--primary);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-panel{
    width: 100%;
    height: 89px;
    background-color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dropdown-panel-content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/*Regular Panel*/
#touchRegular{
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touchRegular:checked + .dropdown-regular{
    height: auto;
}

/*Regular Source ul Panel*/
#touchRegularSource{
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touchRegularSource:checked + .dropdown-regular{
    height: auto;
}

/*Regular Share ul Panel*/
#touchRegularShare{
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touchRegularShare:checked + .dropdown-regular{
    height: auto;
}

.icon-share-panel svg{
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: space-evenly;
    color: var(--primary);

}

/*End Dropdown Regular Share*/


/*Dropdown Regular Metadata */
#touchRegularMetadata{
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touchRegularMetadata:checked + .dropdown-regular-list{
    height: auto;
}


/*Dropdown Regular License */
#touchRegularLicense{
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touchRegularLicense:checked + .dropdown-regular-list{
    height: auto;
}

/*Dropdown transitions for all dropdowns styles when dropdown is clicked*/
.dropdown-transition-styles{
    color: var(--text-on-surface);
    background-color: var(--white);
    border: none;
}


/*Popup*/
/*Metadata Popup*/

.dialog-metadata{
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
    box-shadow: var(--popup-metadata-shadow);
}

.dialog-metadata::backdrop{
    background-color: var(--white-opacity-darker);
}

.popup-metadata-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1065px;
    height: 690px;
    background-color: var(--white);
}

.popup-metadata-content-container{

}

.popup-metadata-heading-container{
    display: flex;
    flex-direction: row;

}

.popup-metadata-title-container{
    display: flex;
    flex-direction: column;
}

.popup-metadata-content{
    width: 876px;
    height: 542px;
    display: flex;
    justify-content: center;
    background-color: var(--indigo250-opacity-light);
}

.metadata-content-value span:not(:last-child){
    margin-right: 24px;
}

.popup-metadata-main-title{
    color: var(--indigo-700);
    margin-bottom: 17px;
}

.popup-metadata-subtitle{
    color: var(--black);
    margin-bottom: 17px;
}

.popup-button-close{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
    margin-right: 13px;
}


/*End Popup*/


/*Tags*/
.tag-container{
    width: 999px;
    height: 26px;
    display: flex;
    flex-direction: row;
    background-color: var(--gray-400);
}

.tag-container:hover{
    background-color: var(--gray-500);
}

.tag-container .tag:not(:first-child){
    margin-left: 26px;
}

.tag-container .tag:not(:last-child){
    margin-right: 26px;
}

.tag{
    display: flex;
    width: 89px;
    height: 26px;
    padding: 3px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--indigo-800);
    color: var(--text-on-dark);
}

.tag-divider{
    color: var(--text-on-dark);
}

/*End Tags*/

/*Override Bootstrap*/

.accordion-item:first-of-type{
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.accordion-item:last-of-type{
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
}

.accordion-item{
    border: unset;
}

.accordion-button{
    padding: unset;
}

.accordion-button:focus{
    border-color: unset;
    box-shadow: unset;
}


.accordion-button::after{
    /*background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up-alt" viewBox="0 0 16 16"> <path d="M3.5 13.5a.5.5 0 0 1-1 0V4.707L1.354 5.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.5.5 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 4.707zm4-9.5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5"/> </svg>');*/
    background-image: none;
    transiton: var(--bs-accordion-btn-icon-transition);
}


.accordion-button:not(.collapsed)::after{
    background-image: none;
}

/*
.accordion-icon-ascending.collapsed:after{
    color: var(--primary);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up-alt" viewBox="0 0 16 16"> <path d="M3.5 13.5a.5.5 0 0 1-1 0V4.707L1.354 5.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.5.5 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 4.707zm4-9.5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5"/> </svg>');
}

.accordion-icon-descending.collapsed:after{
    color: var(--primary);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down-alt" viewBox="0 0 16 16"> <path d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5"/> </svg>');
}*/

/*End Override Bootstrap*/

.dropdown-medium-container{
    width: 172px;
    border-radius: 30px;
    border: 1px solid var(--indigo-200);
    background-color: var(--primary);
    box-shadow: var(--dropdown-shadow);
    padding: 4px 24px;
    margin-bottom: 0px;
}

.dropdown-medium-container ul{
    padding-left:unset;
    margin-bottom: unset;
}

.dropdown-medium-list{
    background-color: var(--white);
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    list-style-type:none;
    transition: height .4s ease;
}

.dropdown-medium-list li:not(:last-child){
    margin-bottom: 12px;
}

.dropdown-medium-item{
    padding-top: unset;
    padding-bottom: unset;
}

.dropdown-medium-item a{
    text-decoration: none;
    color: var(--black);
}

.dropdown-medium-item:hover{
    background-color: var(--indigo250-opacity-light);
}

.dropdown-medium-item a:hover{
    color: var(--primary);
}

.dropdown-accordion-button i{
    color: var(--primary);
    margin-left: auto;
}

.dropdown-accordion-button:hover{
    color: var(--primary);
    background-color: var(--indigo250-opacity-light);
}

#touchMedium{
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touchMedium:checked + .dropdown-medium-list{
    height: auto;
}

/*End Dropdown Medium*/


/*Bootstrap Toggle*/
.bootstrap-switch-large{
    width: 200px;
}


/*Toggle*/

/*switch styles*/

div.btn-container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

label {
    /*h6 styles*/
    font-family: var(--secondary-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 20px;
    letter-spacing: 0.03px;
    line-height: var(--line-height-normal);
}

/*Controls switch background*/
.btn-color-mode-switch > label.btn-color-mode-switch-inner{
    margin: 0px;
    width: 223px;
    height: 54px;
    background-color: var(--white);
    color: var(--white);
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: var(--dropdown-shadow);
    display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
    /*h6 font styles with Bootstrap icons*/
    font-family: var(--bs-icon-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 20px;
    letter-spacing: 0.03px;
    line-height: var(--line-height-normal);
    content: "Share" "\F52D";
    height: 54px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    color: var(--primary);
}

/*Controls switch foreground*/
.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
    /*h6 font styles with Bootstrap icons*/
    font-family: var(--bs-icon-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 20px;
    letter-spacing: 0.03px;
    line-height: var(--line-height-normal);
    content: "Source" "\F470";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 54px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 26px;
    position: absolute;
    left: 2px;
    top: 0px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
}

.btn-color-mode-switch input[type="checkbox"]{
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    background: var(--white);
    color: var(--primary);
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
    /*h6 font styles with Bootstrap icons*/
    font-family: var(--bs-icon-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 20px;
    letter-spacing: 0.03px;
    line-height: var(--line-height-normal);
    content: "Share" "\F52D";
    left: 118px;
    background: var(--primary);
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
    /*h6 font styles with Bootstrap icons*/
    font-family: var(--bs-icon-font-family);
    font-weight: var(--reg-font-weight);
    font-size: 20px;
    letter-spacing: 0.03px;
    line-height: var(--line-height-normal);
    content: "Source" "\F470";
    position:absolute;
    right: auto;
    left: 20px;
    color: var(--primary);
}

.toggle-control-panel-container{
    width: 214px;
    height: 163px;
    border-radius: 10px;
    box-shadow: var(--dropdown-shadow);
}

.toggle-panel-title{
    width: 214px;
    height: 37px;
    border-radius: 10px;
    background: var(--indigo-50);
}

.toggle-panel-content{
    width: 214px;
}

.toggle-panel-links{
    width: 214px;
    display: flex;
    justify-content: space-between;
}
/*End Toggle*/